<!--
  Generated template for the PostModal component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div>
<ion-navbar style="opacity:1;">
  <ion-buttons start>
    <button (click)="closepost()">
      Cancel
    </button>
  </ion-buttons>
	Write Post
  <ion-buttons end>
    <button (click)="closepost()">
      Post
    </button>
  </ion-buttons>
</ion-navbar>

<textarea rows="7"></textarea>
  <!-- {{text}} -->

</div>
<ion-toolbar position="bottom">
  <ion-buttons start>
    <button royal>
Photo
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>