<!--
  Generated template for the PostModal component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<!-- <ion-navbar style="opacity:1;"> -->

<!--   <ion-buttons secondary start (click)="closepost()">
    <button  >
      Cancel
    </button>
  </ion-buttons>

  <ion-buttons end (click)="closepost()">
    <button >
      Post
    </button>
  </ion-buttons> -->

<!-- <ion-toolbar>
  <ion-buttons start>
    <button secondary (click)="closepost()">
        <ion-icon name="close"></ion-icon>Cancel
    </button>
  </ion-buttons>
  <ion-title>Write Post</ion-title>
  <ion-buttons end>
    <button secondary>
        <ion-icon name="send"></ion-icon>Post
    </button>
  </ion-buttons>
</ion-toolbar>

</ion-navbar> -->

<!-- <textarea rows="5" placeholder="Type Here..."></textarea> -->
  <!-- {{text}} -->



<!-- <ion-toolbar class="photoblock" position="bottom">
  <ion-buttons start>
    <button secondary>
Photo
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar> -->
<ion-content class="lightbox_image" (click)="closeimage1()">
  <img src="img/badu-live2.png"/>
</ion-content>